
 <p class="flow-text center">Hello, <%= @user.name %>!</p>
<%if @user.flights.empty?%>
<p class="flow-text center">You don't have any flights saved yet!</p>
<%else%>
<div class="row">
  <p class="flow-text center">Your flights: <% @user.flights.map do |x| %></p> 
<div class="col s12 m12 l6 xl4">
 <div class="card xl4">
    <span class="card-content center">
      <p class="flow-text">Flight from: <strong ><%=x["origin"]%></strong></p>
    </span>
    <span class="card-content center">
      <p class="flow-text">To: <strong><%=x["destination"]%></strong></p>
    </span>
    <span class="card-content center">
      <p class="flow-text">Approx Price: $<%=x["cost"]%></p>
    </span>
    <span class="card-content center">
      <p class="flow-text">Departs: <%=x["origin_date"]%></p>
    </span>
    <div class="card-tabs center">
      <ul class="tabs">
        <a class="tab col s1" href="/flights/edit/<%=x["id"]%>"><li>edit</li></a>
        <a class="tab col s3" href="/flights/delete/<%=x["id"]%>"><li>delete</li></a>
        <a class="tab col s4" href="https://www.skyscanner.com/transport/flights/<%=x.origin_iata_code%>/<%=x.return_iata_code%>/<%=x.origin_date%>/rtn=0" target="_blank"><li>more details</li></a>
        <a class="tab col s4" href="https://www.skyscanner.com/car-rental?pick_up=<%=x.return_iata_code%>&pick_up_date=<%=x.origin_date%>" target="_blank"><li>Car rental on arrival</li></a>
        
      </ul>
    </div>
    <div class="card-content grey lighten-4 center">
      <div id="test4" class="col s12"></div>
      <div id="test5" class="col s12"></div>
      <div id="test6" class="col s12"></div>
    </div>
  </div>
  </div>
  <%end%>
  </div>
<%end%>

<script>
    const tabs = document.querySelector('.tabs');
    const initializeCardPanel = M.Tabs.init(tabs, {});
</script>
